@import "tailwindcss";

body {
  @apply bg-gray-100 font-sans;
}

/* animation duy nhất */
@keyframes cardIn {
  0% {
    opacity: 0;
    transform: translateY(25px) scale(0.98);
    filter: blur(12px);
  }

  60% {
    opacity: 1;
    transform: translateY(0) scale(1.01);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.animate-cardIn {
  animation: cardIn 0.6s ease-out;
}